.container{
    max-width: 978px;
    margin: 3.5rem auto;
    font-size: 16px;

    @media screen and (max-width: 1024px) {
        max-width: 750px;
    }

    @media screen and (max-width: 768px) {
        max-width: 600px;
        font-size: 14px;
    }

    @media screen and (max-width: 675px) {
        max-width: 540px;
        font-size: 14px;
    }

    @media screen and (max-width: 580px) {
        margin: 3.5rem 1.5rem;
    }
}

.github_link{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    height: 2.5rem;
    text-align: center;
    background-color: #24292F;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 1.5rem;
        margin: 0 0.5rem;
    }
}

section{
    margin-bottom: 2rem;
}