/* You can add global styles to this file, and also import other style files */
.datepicker_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    &.opened {
        display: block;
    }
}

// .datepicker-container {
//     width: 300px;
//     min-height: 300px;
//     position: absolute;
// }