/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'iranYekan';
    src: url("./assets/IRANYekanMediumFaNum.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.ngx_date_picker *{
    font-family: 'Roboto', sans-serif;
}

.ngx_date_picker_jalali *{
    font-family: 'iranYekan', 'Vazirmatn', sans-serif;;
}

.datepicker_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    &.opened {
        display: block;
    }
}

// .datepicker-container {
//     width: 300px;
//     min-height: 300px;
//     position: absolute;
// }