@import url("../dist/ah99/ngx-date-picker/styles.css");

@font-face {
    font-family: 'iranYekan';
    src: url("./assets/IRANYekanMediumFaNum.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .ngx_date_picker *{
    font-family: 'Roboto', sans-serif;
}

.ngx_date_picker_jalali *{
    font-family: 'iranYekan', 'Vazirmatn', sans-serif;;
}

.hljs{
    border-radius: 0.5rem;
}